# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# useEffect(()=>{
#     const handleScroll = () =>{
#         const y = window.scrollY
#         let z = y%window.innerHeight*0.3
#         function toRadians (angle) {
#             return angle * (Math.PI / 180);
#         }
#         if(Math.sin(toRadians(z))>=0){
#             setOpacity(Math.abs(Math.sin(toRadians(z+90)))+0.3)
#         }
#     }
#     window.addEventListener('scroll',handleScroll,false)
#     return () =>{
#         window.removeEventListener('scroll',handleScroll,false)
#     }
# },[])
