.scrollView{
    overflow-y:hidden;
    min-width: 100vw;
    min-height: 100vh;
}
.separator h4{
    font-weight:800;
    font-size:25px;
    font-family:'Katibeh', cursive;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin:20px;
  }
  .magical{
    line-height: 50px;
    border-bottom:2px solid black;
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    cursor:pointer;
    transition:var(--animate)
}
.magical:hover{
    background-color: black;
    color:white;
}
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .5em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .5em;
  }
.swipeView {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    flex: 1;
    display:flex;
    -webkit-overflow-scrolling: touch;
  }
  .scrollText{
      margin:2px;
  }
  .centerM{
        min-width: 100vw;
        min-height: 100vh;
        flex:0 0 100vw;
        scroll-snap-align: start;
        margin:20px !important;
        overflow-y:hidden !important;
  }
  .verse{
    font-size:20px;
    font-weight:500;
    font-family: 'Sorts Mill Goudy', serif;
    margin:20px !important;
}
.reference{
    font-family:'Katibeh', cursive;
    display: flex;
    font-size:25px;
    flex-direction: row; 
}
.reference:before, 
.reference:after { 
    content: ""; 
    flex: 1 1; 
    border-top: 1px solid #000000; 
    margin: auto; 
} 
.wrapper{
    position:relative;
    min-width: 100vw;
        min-height: 100vh;
}
.text{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  