.scrollView{
    overflow-y:hidden;
}

.swipeView {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    flex: 1;
    display:flex;
    -webkit-overflow-scrolling: touch;
  }
  .scrollText{
      margin:2px;
  }
  .centerM{
        min-width: 100vw;
        min-height: 100vh;
        flex:0 0 100vw;
        scroll-snap-align: start;
        margin:20px !important;
        overflow-y:hidden !important;
  }
  .verse{
    font-size:20px;
    font-weight:500;
    font-family: 'Sorts Mill Goudy', serif;
    margin:20px !important;
}
.reference{
    font-family:'Katibeh', cursive;
    display: flex;
    font-size:25px;
    flex-direction: row; 
}
.wrapper{
    position:relative;
    min-width: 100vw;
        min-height: 100vh;
}
.text{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  